@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-slate-50 text-slate-800; }
.card { @apply bg-white rounded-lg shadow-md p-6 transition-transform transform hover:-translate-y-1; }
